body {
	background-color: #fff;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	padding-bottom: 2em;
	position: relative;
	margin: 0;
}
body.frametype.menu {
	background-color: #ffd;
}
#div-body {
	margin: 8px;
	padding: 0 1em 0 0;
	display: table-cell;
	vertical-align: top;
}
body.frametype.page #div-body {
	padding-left: 1em;
}
#div-body a {
	text-decoration: none;
}
#div-body code {
	background-color: #fed;
	font-family: Monaco, 'Andale Mono', 'Courier New', monospace;
	font-size: small;
    padding: 1px 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#div-body pre code {
	background-color: inherit;
	color: #737373;
    padding: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
#div-body pre {
	border: 1px solid #ccc;
	padding: 1em;
	margin: 1em 3em 1em 0;
}
#div-body table {
	border-collapse: collapse;
}
#div-body thead {
	background-color: rgb(230, 230, 230);
}
#div-body th {
	color: rgb(51, 51, 51);
}
#div-body th,
#div-body td {
	padding: 0.3em 0.6em;
	border: 1px solid rgb(221, 221, 221);
	text-align: left;
	vertical-align: top;
}
#div-body tr:nth-child(even) {
	background-color: rgb(246, 246, 246);
}
#div-menu {
	display: table-cell;
	vertical-align: top;
}
body.frametype.menu #div-menu {
	display: block;
}
#div-menu > ul {
	background-color: #ffd;
	padding: 0.4em 0.8em;
	border: 1px solid #886;
	font-size: small;
	margin: 1em 1em 1em 1em;
}
body.frametype.menu #div-menu > ul {
	border: none;
}
#div-menu ul {
	list-style-type: none;
}
#div-menu li.directory div.label {
	padding-bottom: 0.3em;
	border-bottom: 1px solid #bb9;
	font-weight: bold;
}
#div-menu li.directory ul {
	padding-top: 0.2em;
}
#div-menu li {
	white-space: pre;
	padding: 0.2em 0;
}
#div-menu ul ul {
	margin: 0;
	padding: 0 0 0 1em;
}
#div-menu a {
	text-decoration: none;
	color: #00f;
}
#div-menu a:visited {
	color: #009;
}
#div-menu li.selected a {
	color: #000;
	font-weight: bold;
}
#div-relatedPages {
	margin-top: 3em;
	border-top: 2px outset #999;
	opacity: 0.4;
}
#div-footer {
	clear: both;
	display: block;
	position: fixed;
	width: 100%;
	bottom: 0;
	background-color: #eee;
	color: #666;
	font-size: small;
	text-align: center;
}